* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #101828;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    position: absolute;
    top: 0;
    color: white;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: white;
    font-size: 14pt;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #ff0000;
}

.right-container {

}
