* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #101828;
    height: 100vh;
}

header {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.hero_new__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    color: white;
    position: relative;
    z-index: 1;
}

.logo img {
    height: 80px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: white;
    font-size: 14pt;
    text-decoration: none;
    transition: color 0.3s;
    white-space: nowrap;
}

.nav-item a:hover {
    color: #ff0000;
}

.right-container {
}

.sign-in-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.sign-in-btn:hover {
    background-color: white;
}
